{{>navbar}}

{{#if data.message}}

<p>{{data.message}}</p>
<div>
  <a class="btn btn-success" href="../club/{{data.id}}">View</a>
</div>

{{else}}

<div id="club" class="container">
  <img class="shield" src="{{team.crestUrl}}" alt="">
  {{>form team = team}}
</div>

{{/if}}
