{{>navbar}}

{{#if data.message}}

<p>{{data.message}}</p>

<div>
  <a class="btn btn-success" href="../club/{{data.tlaNewTeam}}">View</a>
</div>

{{else}}

<div id="club" class="container">

<img class="shield" src={{data.team.crestUrl}} alt="">

{{>form data = data}}
</div>

{{/if}}

