<h1>ESTO ES EL HOME</h1>

<div id="list">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>Teams</th>
            </tr>
        </thead>
        <tbody>
            {{#each equipos }}

            <tr>
                <td>
                    <img class="" src={{this.crestUrl}} alt="">
                    <a href="#" class="mx-1">{{this.name}}</a>
                </td>
                <td class="d-flex justify-content-end align-items-center">
                    <a href="#" class="btn btn-danger btn-sm mx-1">Delet</a>
                    <a href="#" class="btn btn-warning btn-sm mx-1">Edit</a>
                </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</div>